.glass-navbar {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  margin: auto;
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  background: rgba(255, 255, 255, 0.05);
  background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0.05));
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px) saturate(200%);
  -webkit-backdrop-filter: blur(20px) saturate(200%);
  box-shadow:
    inset 0 0 10px rgba(255, 255, 255, 0.2),
    0 8px 20px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.glass-navbar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background: linear-gradient(145deg, rgba(255,255,255,0.2), rgba(255,255,255,0));
  pointer-events: none;
}

.glass-navbar button.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.64);
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 0;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.glass-navbar button.dot:focus-visible {
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5)
}
